<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.medgency">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PilihJadwal"
            android:label="Rincian Pengobatan"
            android:parentActivityName=".VerifikasiPasien">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.medgency.VerifikasiPasien"/>
        </activity>
        <activity
            android:name=".VerifikasiPasien"
            android:label="Verifikasi Pasien"></activity>
        <activity
            android:name=".ProfilRS"
            android:parentActivityName=".SearchRS">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.medgency.SearchRS" />
        </activity>
        <activity
            android:name=".SearchRS"
            android:label="Rumah Sakit"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.medgency.HomeActivity" />
        </activity>
        <activity
            android:name=".SearchDokter"
            android:label="Dokter"
            android:parentActivityName=".HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.medgency.HomeActivity" />
        </activity>
        <activity
            android:name=".SignIn"
            android:parentActivityName=".OnBoard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.medgency.OnBoard" />
        </activity>
        <activity
            android:name=".SignUpEmail"
            android:parentActivityName=".SignUp">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.medgency.SignUp" />
        </activity>
        <activity
            android:name=".SignUp"
            android:parentActivityName=".OnBoard">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.medgency.OnBoard" />
        </activity>
        <activity
            android:name=".OnBoard"
            android:theme="@style/OnBoardTheme" />
        <activity
            android:name=".splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
    </application>

</manifest>